@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  font-family: "Ubuntu", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
    width: 100vw;
    height: 70px;
    display: flex;
    padding: 0 24px;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
}

img {
    width: 54px;
    height: 54px;
}
